body{
    color: antiquewhite;
    background: black;
}

.header {
    background-color: black;
    text-align: center;
    color: azure;
    padding: 2%;
}

.jumbotron {
    background-image:url("images/Bridge.jpg");
    background-repeat: no-repeat;
    align-content: center;
    background-size: cover;
}

.quiz {
    margin-left: 10%;
}

.rest{
    margin-top: 20%;
}

#timer {
    font-size: 200%;
}

#results {
    visibility: hidden;
    font-size: 300%;
} 

.footer {
    position: absolute;
    width: 100%;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    color: white;
    background-color: #666666;
    height: 40px;
    padding-top: 30px; 
    font-size: 12px;
    margin-bottom: 0px;
    /* top: 900px; */
}